// fonts
@import "~/assets/css/fonts/fonts.css";

html,
body {
  font-family: IRANSans !important;
  height: 100vh;
  margin: 0;
  direction: rtl;
  font-size: 10px;
  background-color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shahid {
  color: #f53636;
}

input {
  font-family: IRANSans !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
