// fonts
@import "~/assets/css/fonts/fonts.css";

html,
body {
  font-family: IRANSans !important;
  height: 100vh;
  margin: 0;
  direction: rtl;
  font-size: 10px;
  background-color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shahid {
  color: #f53636;
}

input,
textarea,
button {
  font-family: IRANSans !important;
  font-size: 1.6rem;
  font-weight: 300;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

// Homepage styles
.main-section {
  min-height: 100vh;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  .header {
    flex-grow: 0;
  }
  .footer {
    flex-grow: 0;
  }
  .content {
    flex-grow: 1;
  }

  h1 {
    font-size: 2rem;
    font-weight: 400;
  }
}
