// Colors
$grey-1: #f1f1f1;
$grey-2: #e5e5e5;
$grey-3: #a4a4a4;

$red-1: #f53636;

$black-1: #333333;
$black-2: #000000;

$black-2-1: rgba(0, 0, 0, 0.3);

$white-1: #ffffff;

// Sizes
$m-5: 0.5rem;
$m-10: 1rem;
