// Colors
$grey-1: #e5e5e5;
$grey-2: #a4a4a4;

$red-1: #f53636;

$black-1: #333333;
$black-2: #000000;

//Old vars - depricated
$primary-purple: rgb(107, 68, 107);
$primary-white: #ffffff;
$primary-green: rgb(131, 231, 131);
